<%- include("./partials/header.ejs") %>
<%- include("./partials/hdm.ejs") %>
<div id="main-first">
    <%- include('./partials/navbar.ejs') %>
    <div class="addpre" style="width:100%; max-height: 75%; border: none;">
        <div style="overflow-y: scroll; padding: 2rem; border: 3px black solid;">
            <form action="/data/predata/<%= locals.patientid %>" method="POST" id="addpre">
                <legend><h2>Add Prescription Details:</h2></legend>

                <label for="doctorid"><h3>Doctor ID: </h3></label>
                <input type="text" name="doctorid" id="doctorid" required>    

                <label for="date"><h3>Date: </h3></label>
                <input type="date" name="date" id="date" required>             

                <label for="medicationdetails"><h3>Medication Details: </h3></label>
                <input type="text" name="medicationdetails" id="medicationdetails" required><br/><br/>                        
                                
                <input type="submit" value="Add Record" />
            </form>
        </div>
        
    </div>
</div>
<%- include("./partials/footer.ejs") %>