<%- include("./partials/header.ejs") %>
<%- include("./partials/hdm.ejs") %>
<div id="main-first">
    
    <%- include('./partials/navbar.ejs') %>
    <div class="updata" style="overflow: scroll;">
        <div style=" display: flex; z-index: 1; position: absolute; right: 100px; top:50px; gap: 1rem;">
            <a href="/data/mhdata/<%= locals.updata[0].patientid %>" role="button" >Add Medical History</a>
            <a href="/data/predata/<%= locals.updata[0].patientid %>" role="button">Add Prescription</a>
        </div>
            <div class="sub-container" style="position: absolute; top: 5rem; left: 1rem;">
                <div class="patientcontainer">
                    <h3>Patient ID:</h3>
                    <p><%= locals.updata[0].patientid %></p>
                    <h3>Name:</h3>
                    <p><%= locals.updata[0].name %></p>
                    <h3>Date of Birth: </h3>
                    <p><%= locals.updata[0].dob %></p>
                    <h3>Gender: </h3>
                    <p><%= locals.updata[0].gender %></p>
                    <h3>Phone: </h3>
                    <p><%= locals.updata[0].phone %></p>
                    <h3>Email: </h3>
                    <p><%= locals.updata[0].email %></p>
                    <h3>Address: </h3>
                    <p><%= locals.updata[0].address %></p>
                </div>
                <div>
                    <% if (locals.mhdata) { %>
                        <table class = "container">
                            <caption><h1>Medical History:</h1></caption>
                            <thead>
                                <tr>
                                    <th>Medical History ID</th>                                                             
                                    <th>Date</th>
                                    <th>Details</th>
                                    <th style="width: 60px;">Update</th>
                                    <th style="width: 60px;">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% mhdata.forEach((s) => { %>
                                    <tr>
                                        <td><%= s.medicalhistoryid %></td>
                                        <td><%= s.date %></td>
                                        <td><%= s.details %></td>                                        
                                        <td><a href="/data/updatemh/<%= s.medicalhistoryid %>&<%= s.patientid %>" class="table-button">Update</a></td>
                                        <td><a href="/data/deletemh/<%= s.medicalhistoryid %>&<%= s.patientid %>" onclick="return confirmDelete()" class="table-button">Delete</a></td>                                                                               
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    <% } else { %>
                        <h1>Medical History:</h1>
                        <p>No Data Available</p>
                    <% } %>
                </div> 
                <div>
                    <% if (locals.predata) { %>
                        <table class = "container">
                            <caption><h1>Prescriptions:</h1></caption>
                            <thead>
                                <tr>
                                    <th>Prescription ID</th>  
                                    <th>Doctor</th>                                                           
                                    <th>Date</th>
                                    <th>Details</th>
                                    <th style="width: 60px;">Update</th>
                                    <th style="width: 60px;">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% predata.forEach((s) => { %>
                                    <tr>
                                        <td><%= s.prescriptionid %></td>
                                        <td><%= s.name %></td>
                                        <td><%= s.date %></td>
                                        <td><%= s.medicationdetails %></td>
                                        <td><a href="/data/updatepre/<%= s.prescriptionid %>&<%= s.patientid %>" class="table-button">Update</a></td>
                                        <td><a href="/data/deletepre/<%= s.prescriptionid %>&<%= s.patientid %>" onclick="return confirmDelete()" class="table-button">Delete</a></td>                                                                               
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    <% } else { %>
                        <h1>Prescriptions:</h1>
                        <p>No Data Available</p>
                    <% } %>
                </div>               
            </div>
    </div>
</div>
<script>    
    function confirmDelete() {
        return confirm("Are you sure you want to delete this record?");
    }
</script> 

<%- include("./partials/footer.ejs") %>