<%- include("./partials/header.ejs") %>
<%- include("./partials/hdm.ejs") %>
<div id="main-first">
    <%- include('./partials/navbar.ejs') %>
    <div class="addmh" style="width:100%; max-height: 75%; border: none;">
        <div style="overflow-y: scroll; padding: 2rem; border: 3px black solid;">
            <form id="updatemh" action="/data/updatemh/<%= locals.medicalhistoryid.replace(':', '') %>&<%= locals.patientid.replace(':', '') %>" method="POST">
                <legend><h2>Update Medical History: <%= locals.medicalhistoryid %></h2></legend>
                <label>Patient ID: <%= locals.patientid %></label>
                <label for="date"><h3>Date: </h3></label>
                <input type="date" name="date" id="date" required>             

                <label for="details"><h3>Details: </h3></label>
                <input type="text" name="details" id="details" required><br/><br/>                        
                                
                <input type="submit" value="Update Record" />
            </form>
        </div>
        
    </div>
</div>
<%- include("./partials/footer.ejs") %>